Podfile.lock
Pods/
binaries/
builds/
Resources/lindoor.zip
Lindoor.xcworkspace/xcuserdata
lindoor.xcarchive
lindoor-adhoc-ipa
zip-theme.log
git-version.log
Linhome/GitVersion.swift
Linhome.xcworkspace/xcuserdata/Tof.xcuserdatad/UserInterfaceState.xcuserstate
