Podfile.lock
Pods/
binaries/
builds/
Lindoor.xcworkspace/xcuserdata
lindoor.xcarchive
lindoor-adhoc-ipa
zip-theme.log
git-version.log
Linhome.xcworkspace
Linhome/GitVersion.swift
Resources/linhome.zip
Linhome.xcodeproj/xcuserdata
