<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041242817246-de0fa5ngdf78ql0agpdgvgbukd9o0fui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041242817246-de0fa5ngdf78ql0agpdgvgbukd9o0fui</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-mJ7YmT9JyyQ5dB_MdAntYHDcD-rd0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1041242817246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.linhome</string>
	<key>PROJECT_ID</key>
	<string>linhome-9495d</string>
	<key>STORAGE_BUCKET</key>
	<string>linhome-9495d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041242817246:ios:c6cf6f86400be874cff84f</string>
	<key>DATABASE_URL</key>
	<string>https://linhome-9495d.firebaseio.com</string>
</dict>
</plist>